@keyframes fadeSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-slide-left {
  animation: fadeSlideLeft 0.3s ease-in-out;
}

.fade-slide-right {
  animation: fadeSlideRight 0.3s ease-in-out;
}
